[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
discord-py = "*"
psutil = "*"
coloredlogs = "*"
pyyaml = "*"
python-dotenv = "*"
python-dateutil = "*"
asyncpg = "*"
requests = "*"
pytz = "*"
sentry-sdk = "*"
dictor = "*"
mixpanel-api = "*"
pillow = "*"
lavalink = {editable = true,git = "https://github.com/devoxin/lavalink.py",ref = "dev"}
ksoftapi = {editable = true,git = "https://github.com/KSoft-Si/ksoftapi.py",ref = "master"}
spotipy = "*"
webcolors = "*"

[requires]
python_version = "3.8"
