[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp-jinja2 = "*"
asyncpg = "*"
beautifulsoup4 = "*"
beautifultable = "*"
coloredlogs = "*"
dictor = "*"
discord-py = "*"
discord-py-slash-command = "*"
ksoftapi = "*"
lavalink = "*"
pillow = "*"
psutil = "*"
python-dateutil = "*"
python-dotenv = "*"
pyyaml = "*"
sentry-sdk = "*"
spotipy = "*"
influxdb-client = "*"
discord-components = "*"

[requires]
python_version = "3.9"
